{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

<a href="/"><img class="navbar-item" type="image/png" src="{% static 'images/favicon.png' %}" width="64px"></a>
<aside id="secretwarning" hidden>Secret entry display enabled</aside><br/>

{% if not request.user.is_authenticated %}
<a href="/login" class="navbar-item">Login</a>
<a href="/signup" class="navbar-item">Sign Up</a>
{% endif %}

{% if request.user.is_authenticated %}
<a class="navbar-item" href=/entry_add>Add Entry</a>
<a class="navbar-item" href="/settings">Settings</a>
<a class="navbar-item" href="/logout_page">Logout</a>
<span class="navbar-item" style="color:white; text-shadow: none;">{{ request.user.username }}</span>
<br/><form action="{% url 'entry_list' %}" method="get">
    <input class="navbar-item" name="q" type="search" placeholder="Search..."/>
    <select class="navbar-item" name="sort_by" style="margin-right: 5px;">
        <option value="CreationDate">Creation Date</option>
        <option value="LastEditDate">Last Edited</option>
        <option value="WordCount">Word Count</option>
    </select>
    <select class="navbar-item" name="sort_direction" style="margin-right: 5px;">
        <option value="Descending">⬇️</option>
        <option value="Ascending">⬆️</option>
    </select>
    <input type="submit" style="margin-left:0px;">
</form>
{% endif %}<br/><br/>