<!DOCTYPE html>

<html>
    <head>
        <!-- base.html -->
        {% load static %}
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}" >   
    </head>

    <body>
        {% include 'navbar.html' %}
        <h2>Search results for "{{ searchq }}":</h2>
        <small>
            {{ filtered_entries|length }} 
            {% if filtered_entries|length == 1 %}
            result
            {% else %}
            results
            {% endif %}
        </small>
        {% for e in filtered_entries %}
            <p>
            <a href="entry/{{ e.pk }}"><h2>
                {% if e.is_secret %}
                    <small>🔐</small>
                {% endif %}
                {{ e.entry_title }}
            </h2></a>
            {{ e.entry_text|truncatechars_html:2000|safe }}<br/>
            <small>{{ e.creation_datetime }}</small>
            </p>
        {% endfor %}
    </body>
</html>